.card{
    width: 340px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: translateY(-10px);
}

.card-image{
    height: 200px;
    background-image: url(../assets/img01.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.card-detail{
    background-color: #e1e1e1;
    width: 30%;
    border-radius: 5px;
}

.card-price-currency{
    font-size: 14px;
}

.card-price-amout{
    font-size: 24px;
}

.card-detail span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 2px;
}

.card-content{
    padding: 25px;
}

.card-price{
    padding-top: 10px;
}

.card-title{
    display: flex;
    color: #1e1f22;
    font-size: 1.4rem;
    margin-bottom: 12px;
    font-weight: 700;
    text-decoration: none;
}

.card-description{
    color: #424549;
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 5px;
}

.card-product{
    color: #424549;
    font-size: 12px;
}


.card-detail-icon{
    margin-right: 5px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}